/* stylesheet.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0e0d41;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
}

header h1 {
  margin: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: white;
}

#products {
  text-align: center;
}

.product {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img {
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.price {
  color: #055202;
  font-weight: bold;
}

.prod {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.navSection {
  background-color: #fcf2f7;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #0b0000;
  font-weight: bold;
}

.navigation a:hover {
  color: #eca3c7;
}

.titleMain{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContent {
  display: flex;
  justify-content: center;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  width: 50%;
  border-radius: 5px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-group.inline-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-form .form-group.inline-group label {
  flex: 0 0 20%;
  margin-right: 10px; 
}

.contact-form .form-group.inline-group input{
  width: 200px;
  height: 30px;
  flex: 1; 
}

.contact-form label {
  font-weight: bold;
}

.btn {
  display: block;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#founder{
  text-align: center;
}

.img{
  width: 150px;
  height: 150px;
  margin-left: 100px;
}

.founderDetails {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

footer {
  background-color: #0e0d41;
  color: white;
  text-align: center;
  padding: 1em;
}

footer a {
  color: #e91e63;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}